a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

#nprogress {
    pointer-events: none
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px
}

#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    -webkit-box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1;
    -webkit-transform: rotate(3deg) translateY(-4px);
    transform: rotate(3deg) translateY(-4px)
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #29d transparent transparent #29d;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

@font-face {
    font-family: iawriter-mono;
    src: url(/iAWriterMonoS-Regular.woff2) format("woff2")
}

@font-face {
    font-family: iawriter-mono;
    font-weight: 700;
    src: url(/iAWriterMonoS-Bold.woff2) format("woff2")
}

body,
html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    background: #191919 !important; /* Forces the background to your color */
}

.light {
    --color-background: #fff;
    --color-text: #3f3c36;
    --color-text-reverse: #eee;
    --color-border: #e3e3e2;
    --color-error: #dc143c;
    --color-accent: #483d8b
}

.dark {
    --color-background: #191919; /* Your specific color */
    --color-text: #eee;
    --color-text-reverse: #3f3c36;
    --color-border: #333;       /* Darker border for a cleaner look */
    --color-error: salmon;
    --color-accent: #7fffd4
}

.mono {
    font-family: iawriter-mono, Nitti, Menlo, Courier, monospace
}

.serif {
    font-family: Lyon-Text, Georgia, YuMincho, Yu Mincho, Hiragino Mincho ProN, Hiragino Mincho Pro, Songti TC, Songti SC, SimSun, Nanum Myeongjo, NanumMyeongjo, Batang, serif
}

a {
    color: inherit;
    text-decoration: none
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}


.RefreshButton_container__SycaW {
    text-align: right
}

.RefreshButton_refreshButton__2F2eY {
    -webkit-transition: border .2s ease, -webkit-transform .2s ease;
    transition: border .2s ease, -webkit-transform .2s ease;
    transition: border .2s ease, transform .2s ease;
    transition: border .2s ease, transform .2s ease, -webkit-transform .2s ease;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    margin-bottom: 20px;
    border: 3px solid transparent;
    background: var(--color-accent);
    color: var(--color-text-reverse);
    padding: 5px 15px;
    border-radius: 5px;
    -webkit-transform: scale(1);
    transform: scale(1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5)
}

.RefreshButton_refreshButton__2F2eY:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    border-color: rgba(0, 0, 0, .5)
}

.FeedError_feedError__2g6eb {
    padding: 20px 10px;
    border: 2px solid var(--color-error);
    border-radius: 5px;
    color: var(--color-error);
    font-style: italic
}

.FeedError_feedError__2g6eb span {
    font-weight: 700;
    font-style: normal;
    text-decoration: underline dotted
}

.FeedItem_feedItem__37JEo time {
    font-size: 12px
}

.FeedItem_feedItem__37JEo a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.FeedItem_feedItem__37JEo:hover {
    background: var(--color-border);
    border-color: var(--color-text)
}

.FeedItem_feedItem__37JEo {
    position: relative;
    border: 2px solid var(--color-border);
    border-radius: 5px;
    padding: 10px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease
}

.FeedItems_feedItems__vZ4_T {
    display: grid;
    grid-gap: 20px
}

.EmptyFeed_emptyFeed__1KQoJ {
    color: var(--color-text);
    opacity: .75;
    font-size: 12px
}

.Feed_feed__2AZsj+.Feed_feed__2AZsj {
    margin-top: 20px
}

.Feed_feed__2AZsj h2 {
    font-weight: 700;
    padding-bottom: 10px
}

.FeedsWidget_feedsWidget__2E6dM {
/*    background: #191919;*/
    color: #fff;
    padding: 10px
}

.FeedsWidget_feedsWidget__2E6dM ul {
    display: grid;
    grid-gap: 20px;
    width: 100%;
    line-height: 1.5
}

html,
body {
    background-color: transparent !important
}